parameters:
    deployment:
        type: ftp
        user: null
        pass: null
        host: ftp.petrknap.cz
        path: /
        after:
            - "https://api.petrknap.cz/migrate/?sk=%secretKey%"
